html {
    background-color: #daeaf6;
}

body {
    height: 500px;
    width: 400px;
    border-style: solid;
    border-color: #f9bfc9;
    border-width: 5px;
    border-radius: 10px;
    background-color: #fce1e4;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#display {
    height: 110px;
    border-style: solid;
    border-color: rgb(69, 69, 69);
    background-color: rgb(239, 239, 239);
    border-width: 2px;
    margin: 6px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-top: 8px;
    line-height: 110px;
}

#buttons {
    margin: 4px;
    font-size: 0;  
    padding: 5px;
    border-radius: 10px;
}

#AC {
    width: calc(75% - 1px);
    height: 70px;
    font-size: x-large;
    margin-right: 1px;
    margin-bottom: 1.5px;
    border-radius: 10px;
    background-color: #ddedea;
}

.operator {
    height: 70px;
    width: 24.75%;
    font-size: x-large;
    border-radius: 10px;
    background-color: #f8ebc3;
}

.button {
    height: 70px;
    width: 24.75%;
    font-size: x-large;
    margin-right: 1px;
    margin-bottom: 1.5px;
    border-radius: 10px;
    background-color: #e8dff5;
}

#zero {
    height: 70px;
    width: 49.75%;
    font-size: x-large;
    margin-right: 1px;
    border-radius: 10px;
    background-color: #e8dff5;
}

#equal {
    height: 70px;
    width: 49.75%;
    font-size: x-large;
    border-radius: 10px;
    background-color: #ddedea;
}